@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image {
  border-bottom-left-radius: 43%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  /* border-color: rgb(151, 151, 151); */
  border-top: #171717; 
  box-shadow: 0 4px 6px rgba(168, 168, 168, 0.5);
} 

.box-image {
border-bottom-left-radius: 15px;
border-radius: 50%;
border-left:50%;
border-color:rgb(75, 75, 75);
}


